@font-face {
  font-family: 'Roboto-Regular';
  src:  url('./roboto-v20-latin-regular.woff') format('woff'),
        url('./roboto-v20-latin-regular.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: blue;
  font-family: 'Roboto-Regular';
  background: url('./icon.png');
}
